# Database
# username (แทนด้วยข้อมูลจริง เช่น postgres)
# password (แทนด้วยรหัสผ่านฐานข้อมูลจริง เช่น 1234)
# asset_db (แทนด้วยชื่อฐานข้อมูลข้อมูลจริง)
DATABASE_URL="postgresql://username:password@localhost:5432/asset_db?schema=public"



# Authentication (Better-Auth)
BETTER_AUTH_SECRET="your_secret_key_here" # ได้จากการใช้คำสั่ง openssl rand -base64 32
BETTER_AUTH_URL="http://localhost:3000" # เปลี่ยนเป็น IP Domain ของคุณ
NEXT_PUBLIC_APP_URL="http://localhost:3000" # เปลี่ยนเป็น IP Domain ของคุณ

# Email Configuration (SMTP)
# For Gmail, use App Password
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-email@gmail.com" # อีเมลที่ต้องการส่งข้อความลืมรหัสผ่านให้ผู้ใช้
SMTP_PASS="your-app-password" # รหัสยืนยันจากระบบยืนยัน 2 ขั้นตอน

# Initial Admin Setup (for seeding)
ADMIN_EMAIL="admin@gmail.com" # ชื่อผู้ใช้ระดับผู้ดูแลระบบ (ตัวอย่าง)
ADMIN_PASSWORD="password123" # รหัสผ่าน (ตัวอย่าง)
